/* 	FEITO COM <3 POR BRENO BOTELHO 

	github.com/brenobotelho
	instragram.com/@brenobotelho_

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	
	
}

:root {
	--bg-color: #8E87FA;
	--bg-box: #6D67D0;
	--box-shadow-color: 0px 4px 32px rgba(15, 23, 42, 0.15);
	--highlight: #7C3AED;
	
	font-size: 62.5%;
	font-family: 'Lato', sans-serif;
}

body {
	font-size: 1.6rem;
	background: #8E87FA url(./images/background.png) no-repeat;
	background-size: cover;
	width: 100vw;
	
	
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
}

.box {
	background: var(--bg-box);
	border-radius: 10px;

}

.box-left {
	width: 48rem;
	height: 48rem;
	margin-right: 3.2rem;
	overflow: hidden;
}

.box-right {
	width: 58rem;
	height: 48rem;
	word-break: break-all;
}

.box-top-right {
	display: flex;
	gap: 24px;	
}

.box-top-right .box {
	width: 27.7rem;
	height: 24.4rem;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.box-top-right .top {
	display: flex;
	align-items: center;
	gap: .8rem;
	margin-top: 3.2rem;
	color: #DAD8F7;
	font-weight: 700;
}

.box-top-right .bottom {
	display: flex;
	gap: 1.6rem;
	margin-bottom: 1.6rem;
	color: #E7E6FB;
	text-align: center;
}



.temperatura {
	background: url(./images/nuvem.svg) no-repeat center/cover;
	background-size: cover;
	height: 48rem;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.temperatura::before{
	content: '';
	background: url(./images/weather.png) no-repeat;
	position: absolute;
    	
	width: 17.6rem;
	height: 17.6rem;

	margin-top: -8rem;
    	margin-left: -5rem;
}

.temperatura .location {
	text-align: right;
	padding: 3.2rem;

	font-weight: 700;
	font-size: 1.4rem;
	color: #C2BFF4;
}

.temperatura .middle {
	/* background: blue; */
	
	text-align: center;
	color: #FFFFFF;
}

.middle .number {
	font-size: 8.8rem;
	font-weight: 700;
}

.max-min span {
	color: #C2BFF4;
}

.middle .number::after{
	content: 'ºC';
	font-size: 2.4rem;
	color: #DAD8F7;
	margin: 1.5rem 0.4rem;
	position: absolute;
}

.temperatura .bottom {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
	padding: 1.2rem;

	
}

.bottom .info-clima {
	width: 14.6rem;
	background: rgba(102, 96, 200, 0.6);
	border-radius: 0.6rem;
	padding: 1.2rem 1.6rem;

	display: flex;
}

.info-clima .details h3{
	color: #E7E6FB;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.4rem;
}

.info-clima .details h2{
	color: #fff;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.2rem;
}

.info-clima .details span {
	color: #DAD8F7;
	font-weight: 700;
	font-size: 1.4rem;
}

iconify-icon {
	font-size: 3.2rem;
	color: #fff;
	opacity: 0.4;
	margin-right: 1.2rem;

	display: flex;
	align-items: center;
}

.qualidade .middle .sense{
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #87EBCD; 
	text-align: center;
}

.qualidade .middle .sense-number{
	font-weight: 700;
	font-size: 4.0rem;
	color: #E7E6FB;
}

.qualidade .bottom h3 {
	color: #87EBCD;
	font-size: 1.4rem;
}

.qualidade .bottom h4 {
	font-weight: 400;
	font-size: 1.2rem;
}

/* Horario dos sol*/


.sun-chart {
	--pos-x: 70;

	width: 21.6rem;
	position: relative;
}

.sun-chart::before {
	content: "";
	width: 1.2rem;
	height: 1.2rem;
	position: absolute;
	background: #f6c833;
	border-radius: 50%;

	top: 80%;
	left: 50%;
	
	transform: rotate(calc(1deg * (((100 - var(--pos-x)) / -95) * 180)))
	translate(10.6rem);
}

.chart {
	width: 21.6rem;
	height: 10.8rem;
	overflow: hidden;
}

.chart::before {
	content: "";
	width: 21rem;
	height: 21rem;

	display: block;
	border-radius: 50%;

	background: linear-gradient(
	180deg,
	rgba(251, 219, 96, 0.2) 0%,
	rgba(251, 219, 96, 0) 101.89%);

	--mask: linear-gradient(0deg, white 50%, transparent 0%);
	mask: var(--mask);
	-webkit-mask: var(--mask);

	rotate: calc(1.815deg * var(--pos-x));
}

.chart img {
	position: absolute;
	top: 0;
	left: -1%;
}

time.now {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%);

	color: white;
	font-size: 1.4rem;
	font-weight: 700;
}

.time {
	font-size: 1.2rem;
	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 1rem auto 0;
	padding: 0 1.6rem 1.6rem;
	max-width: 27.6rem;
}


/* Previsão */


.previsao {
	margin-top: 24px;
	overflow: hidden;
	padding: 4rem;
	gap: 1.2rem;

	display: flex;
	justify-content: center;
	
}

.previsao .days-week {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	width: 9.1rem;
	height: 13.2rem;

}

.previsao .days-week h4 {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.7rem;
	color: #DAD8F7;
}



@media (max-width: 1000px){
	main {
		flex-direction: column;
	}
	.box-right {
		margin-top: 10rem;
	}
}




